# Feature Store
HOPSWORKS_API_KEY=your_hopsworks_api_key_here
HOPSWORKS_PROJECT_NAME=pearls_aqi

# Weather / AQI APIs (OpenWeather / AQICN)
OPENWEATHER_API_KEY=your_openweather_api_key_here
AQICN_API_TOKEN=your_aqicn_token_here